.intro {
  background-color: map-get($colors, dark-grey);
  background-image: url(../../img/ribs.jpg);
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center;
  padding: 0 0.25em 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 50vh;
}

.main-content {
  padding: 2em 1em;
}

.intro,
.main-content {
  & > * {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 550px) {
  body {
    display: flex;
    min-height: 100vh;
  }

  .intro,
  .main-content {
    width: 50%;
  }

  .main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
